.card .rating{
    justify-content: space-around;
}
.rating .rate{
    border: 1px solid #ff545a;
    border-radius: 5px;
    padding: 5px 10px;
}
.rating .review{
    border: 1px solid #ff545a;
    border-radius: 5px;
    padding: 5px 10px;
}