*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: #ff545a;
    color: #fff;
}
.input-form{
    margin: 0 auto;
    max-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-form *{
    width: 90%;
    margin: 10px 0;
    padding: 10px 15;
}
.input-form input{
    padding: 5px 15px;
}
.input-form textarea{
    height: 200px;
    padding: 8px 16px;
}
.btn{
    width: fit-content;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .top-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    text-align: center;
}
/* Post Design */

.post{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.post .author{
    justify-content: flex-start;
}
.post .author img{
    width: 50px;
    height: 50px;
}
.post .writing{
    text-align: justify;
}
/* Card Design */

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card{
    max-width: 330px;
  }