*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
}
.inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  max-width: 330px;
}